<div class="card-columns animated fadeIn">
    <div (click)="verArtist(song)" *ngFor="let song of songs" class="card puntero">
        <img class="card-img-top" [src]="song.images | noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{song.name}}</h5>
            <p class="card-text">
                <span *ngFor="let artist of song.artists" class="badge badge-pill badge-primary">
                    {{artist.name}}
                </span>
            </p>
        </div>
    </div>
</div>